<div class="container">
  <div class="row">
    <form class="col s12" #userForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="input-field col s6">
          <input
            id="first_name"
            type="text"
            class="validate"
            name="first_name"
            [(ngModel)]="user.firstname"
            #firstName="ngModel"
            required
            minlength="5"
            maxlength="15"
          />
          <label for="first_name">First Name</label>
          <div
            [hidden]="!formSubmitted || firstName.valid || firstName.pristine"
            class="red accent-1"
          >
            <div *ngIf="firstName.hasError('required')">
              Le prénom est requis
            </div>
            <div *ngIf="firstName.hasError('minlength')">
              Le prénom doit comporter au moins 5 caractères.
            </div>
            <div *ngIf="firstName.hasError('maxlength')">
              Le prénom ne doit pas dépasser 15 caractères.
            </div>
          </div>
        </div>
        <div class="input-field col s6">
          <input
            id="last_name"
            type="text"
            class="validate"
            name="last_name"
            [(ngModel)]="user.lastname"
            #lastName="ngModel"
            required
            minlength="5"
            maxlength="15"
          />
          <label for="last_name">Last Name</label>
          <div
            [hidden]="!formSubmitted || lastName.valid || lastName.pristine"
            class="red accent-1"
          >
            <div *ngIf="lastName.hasError('required')">Le nom est requis</div>
            <div *ngIf="lastName.hasError('minlength')">
              Le nom doit comporter au moins 5 caractères.
            </div>
            <div *ngIf="lastName.hasError('maxlength')">
              Le nom ne doit pas dépasser 15 caractères.
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input
            id="email"
            type="email"
            class="validate"
            name="email"
            [(ngModel)]="user.email"
            #email="ngModel"
            required
          />
          <label for="email">Email</label>
          <div
            [hidden]="!formSubmitted || lastName.valid || lastName.pristine"
            class="red accent-1"
          >
            <div *ngIf="email.hasError('required')">L'email est requis</div>
            <div *ngIf="email.hasError('email')">L'email est invalide</div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <input id="password" type="password" class="validate" />
          <label for="password">Password</label>
        </div>
      </div>
      <button class="btn waves-effect waves-light" type="submit" name="action">
        Submit
        <i class="material-icons right">send</i>
      </button>
    </form>
  </div>
</div>
